@media (max-width: 1024px) {
  .center_login {
    display: flex;
    justify-content: center;
  }
  .form_container2 {
    display: flex;
    width: 400px;
  }
  .form_right {
    display: flex;
    padding-right: 0%;
  }
}

@media (max-width: 1110px) {
  .form_container {
    display: flex;
    width: 400px;
  }
}

@media (max-width: 320px) {
}
.input_letter {
  font-family: "Roboto";
}
.image_mst {
  object-fit: fill;
}
.form_container {
  max-width: 300px;
  width: 100%;
}
.color_box {
  /* background-color: #8aa396; */
  background-color: white;

}
.color_button {
  background-color: #308e21;
  max-width: 252px;
  width: 100%;
}
.border_input {
  border-color: #d6d6d6;
}
.bg_input {
  background-color: #d6d6d6;
}
.form_border {
  border-radius: 1.21rem;
}
.form_container_altura {
  min-height: 290px;
}
.input_margin {
  margin-left: 1.3rem;
}

@media (max-width: 320px) {
  .ancho_movil {
    width: 4rem;
  }

  .ancho_yachay {
    width: 5rem;
    height: 5rem;
  }

  .completar {
    margin-top: 11rem;
  }

  .ancho_input {
    width: 12.5rem;
  }
}

/* body {
  background-repeat: no-repeat;
  background-image: url(../../assets/BG.png);
  background-size: cover;
  background-position: center;
} */

.BG_login {
  background-repeat: no-repeat;
  background-image: url(../../assets/BG.jpg);
  background-size: cover;
  background-position: center;
}

/* @media only screen and (max-width: 425px) {
  body {
    /* background-image: url(../../assets/BG-MOVIL.png); */
  /* } */
/* } */ 

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-circle-big {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle-big > div {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
